{% extends "main.html" %}


{% block title %}
    About US
{% endblock title %}


{% block body %}
<div class="container-fluid ">
<div class="row justify-content-center">
<div class="col-10 border roboto rounded shadow-sm mt-5 mb-5 p-2">
<h1 class="fw-bolder fs-1 anton-regular   text-center pt-5  text-decoration-underline ">About Us </h1>
<p class="fs-5 pt-3 "> <b>Welcome to News 24x7</b> – your digital space for staying informed anytime, anywhere.</p>
<p class="fs-5">
    This website has been specially created as part of a project to showcase how news can be shared online in a simple, interactive, and user-friendly way. While it is not a commercial platform, it is designed with all the important features of a modern news website.
</p>
<p class="fs-5 ps-5"> <b>Developed by:</b> <span class="lora"> Matin </span> </p>
<p class="fs-5 ps-5 " > <b>Content written by:</b> <span class="lora"> Pravinbhai </span></p>
<p class="fs-5 ps-5 " > <b>Documentation by:</b> <span class="lora"> Utkarsh </span> </p>
<p class="fs-5 ps-5 " > <b>Email:</b> <a class="lora" href="mailto:news24x7wabsit@gmail.com">news24x7wabsit@gmail.com</a></p>
<hr style="border: dashed 1.7px ; border-color: black; " >
<h1 class="text-center anton-regular  text-decoration-underline fs-1 fw-bolder">Our Purpose</h1>
<p class="fs-5 pt-5 ">
    <b> News 24x7</b> is built as an educational and experimental project. The idea is to give users an experience similar to a real-world news portal – where they can explore, engage, and interact with the latest stories.
</p>
<hr style="border: dashed 1.7px ; border-color: black; " >
<h1 class="text-center anton-regular  text-decoration-underline fs-1 fw-bolder">Key Features</h1>

<ol class="mt-5 ms-5 fs-6">
    <li class="pt-3 fs-5 lora ">🔖 <b class="roboto"> Bookmark News</b> – Save stories and read them later.</li>
    <li class="pt-3 fs-5 lora ">👤 <b class="roboto"> Follow & Like </b> – Stay connected with your favorite topics and show your support.</li>
    <li class="pt-3 fs-5 lora ">📂 <b class="roboto"> Topics Following</b> – Personalize your news feed by choosing the categories you care about most.</li>
    <li class="pt-3 fs-5 lora ">🌐 <b class="roboto"> Language Options</b> – Access news in Hindi and Gujarati for wider reach.</li>
    <li class="pt-3 fs-5 lora ">🔑 <b class="roboto"> Login & Registration </b> – Create an account to enjoy a customized experience.</li>
    <li class="pt-3 fs-5 lora ">💬 <b class="roboto"> Comments on News </b> – Share your opinions and join discussions with other readers.</li>
    <li class="pt-3 fs-5 lora ">📝 <b class="roboto"> Report News </b> – Help improve the platform by reporting false or inappropriate content.</li>
</ol>
<hr style="border: dashed 1.7px ; border-color: black; " >
<h1 class="fw-bolder anton-regular  fs-1 text-decoration-underline text-center pt-3 pb-3 ">Why News 24x7?</h1>
<p class="fs-5 lora ps-5">     <b class="roboto">📰 Simple & Clean Design </b> – Easy to navigate for all users.</p>
<p class="fs-5 lora ps-5">🌍   <b class="roboto">Accessible in Multiple Languages</b> – Reaching audiences in both Hindi and Gujarati.</p>
<p class="fs-5 lora ps-5">⚡   <b class="roboto"> Interactive Experience</b> – Go beyond reading – bookmark, follow, like, and comment.</p>
<p class="fs-5 lora ps-5"> 🎯  <b class="roboto"> Learning-Oriented </b> – A project that demonstrates how modern news websites are built. </p>
<p class="fs-5">At <b>News 24x7</b>, we believe that news should not only inform but also connect people through interaction and discussion.</p>
<hr style="border: dashed 1.7px ; border-color: black; " >
<a href="/">
    <div class="col-12  anton-regular bg-black text-white m-0 p-0 fs-1 text-center fw-bolder "> 
        Go Home
    </div>
</a>
</div>
</div>
</div>

{% endblock body %}
    