 
 <a href="/{{ like }}" class="m-0 p-0">
  <div class="col-12 rounded border-3 border rounded">
    <div class="row">
      <div class="col-6 "> 
         <img src="/media/{{img}}" class="w-100 img85 rounded " alt=""></div>
      <div class="col-6 fw-bolder ">
        <p class="text-break text-wrap p-2 code759 " style="font-size: 16px;">
          {{ title }}
        </p>
       <span style="font-size: 12px;" class="text-uppercase fw-medium ms-2 bg-dark btn text-white text-break text-wrap bebas-neue-regular ">{{topic}}</span>
       <span style="font-size: 12px;" class="text-secondary">Time: {{ date }}</span> <br> <br>
      </div>
    </div>    
  </div>
</a>