 
<a href="/{{ like }}" class="m-0 p-0">
  <div class="col-12 border border-3 rounded p-0 m-0 ">
    <div class="row p-0 m-0">
       <div class="code759 col-12 fw-bolder text-break text-wrap ps-2 " style="font-size: 16px;">
{{ title }}
      </div>
      <div class="col-12 mt-2 mb-3 text-break text-wrap " >
        <span  style="font-size: 12px;" class="text-uppercase fw-medium bebas-neue-regular btn btn-dark">{{topic}}</span>
        <span style="font-size: 12px;" class="text-secondary">Time:{{ date }}</span>
      </div>
      <div class="col-12 m-0 p-0">
        <img src="/media/{{img}}" class="w-100 img85 rounded-bottom " alt="">
      </div>
    </div>
  </div>
</a>
