 
  <a href="/{{ like }}" class="m-0 p-0">
  <div class="col-12 rounded border-3 border rounded">
    <div class="row">
      <div class="col-6 fw-bolder text-break text-wrap">
        <p class="text-break text-wrap ps-2 pt-1" style="font-size: 16px;">
          {{ title }}
        </p>
        <br> 
        <span style="font-size: 12px;" class="bg-dark ms-2 mb-2 btn text-white text-break text-wrap text-uppercase fw-medium bebas-neue-regular ">{{topic}}</span>
        <span style="font-size: 12px;" class="text-secondary">Time: {{ date }}</span>

      </div>
      <div class="col-6 ">  <img src="/media/{{img}}" class="w-100 img85 rounded " alt=""></div>
      
    </div>    
  </div>
</a>